<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>お気に入り一覧</title>
</head>

<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container samuraitravel-container pb-5">
				<div class="row justify-content-center">
					<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							<li class="breadcrumb-item active" aria-current="page">お気に入り一覧</li>
						</ol>
					</nav>

					
						<div class="mb-3" th:each="favorite : ${favoriteList}">
							<a th:href="@{/shops/__${favorite.shop.getId()}__}" class="link-dark samuraitravel-card-link">
								<div class="card h-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img th:if="${favorite.shop.getImageName()}"
												th:src="@{/storage/__${favorite.shop.getImageName()}__}"
												class="card-img-top samuraitravel-horizontal-card-image" alt="店舗画像">
											<img th:unless="${favorite.shop.getImageName()}" th:src="@{/images/noImage.png}"
												class="card-img-top samuraitravel-horizontal-card-image" alt="NO IMAGE">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h3 class="card-title mb-3" th:text="${favorite.shop.getName()}"></h3>

												<hr class="mb-3">

												<p class="card-text mb-2">
													<span th:text="${favorite.shop.getDescription()}"></span>
												</p>

												<p class="card-text mb-2">
													<small class="text-muted"
														th:text="${'〒' + favorite.shop.getPostalCode()}"></small>
													<small class="text-muted" th:text="${favorite.shop.getAddress()}"></small>
												</p>

												<p class="card-text">
													<span
												th:text="${#numbers.formatInteger(favorite.shop.getPriceLowerLimit(), 1, 'COMMA') + '~'+#numbers.formatInteger(favorite.shop.getPriceUpperLimit(), 1, 'COMMA')+'円'}"></span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>

						<!-- ページネーション -->
						<div th:if="${favoriteList.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="お気に入り一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${favoriteList.isFirst()}" class="page-link disabled">前</span>
										<a th:unless="${favoriteList.isFirst()}"
											th:href="@{/favorites(page = ${favoriteList.getNumber() - 1})}"
											class="page-link samuraitravel-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, favoriteList.getTotalPages() - 1)}"
										class="page-item">
										<span th:if="${i == favoriteList.getNumber()}"
											class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
										<a th:unless="${i == favoriteList.getNumber()}"
											th:href="@{/favorites(page = ${i})}"
											class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${favoriteList.isLast()}" class="page-link disabled">次</span>
										<a th:unless="${favoriteList.isLast()}"
											th:href="@{/favorites(page = ${favoriteList.getNumber() + 1})}"
											class="page-link samuraitravel-page-link">次</a>
									</li>
								</ul>
							</nav>
						
					</div>
				</div>
			</div>
		</main>



		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>