<!DOCTYPE html>
<html xmins:th="https://www.thymeleaf.org" xmins:sec="http://www.thymeleaf.org/extras/sping-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>レビュー編集ページ</title>
	</head>
	
	<body>
		<div class="samuraitravel-wrapper">
	 <!-- ヘッダー -->
           <div th:replace="~{fragment :: header}"></div>
           
             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                               <ol class="breadcrumb mb-0"> 
                                   <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                   <li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
                                   <li class="breadcrumb-item"><a th:href="@{/shops/{shopId}(shopId=${shop.getId()})}">店舗詳細</a></li>                                                           
                                   <li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
                               </ol>
                           </nav> 
	
	<h1 class="mb-4 text-center">レビュー編集</h1>    
	
		<form method="post" th:action="@{/shops/__${shop.getId()}__/reviews/__${review.getId()}__/update}" th:object="${reviewEditForm}" class="w-100">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{userId}">
			
			
		<select class="form-select samuraitravel-star" th:field="*{score}">
			
			<option class="samuraitravel-star" value="5" selected>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
			<option class="samuraitravel-star" value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
			<option class="samuraitravel-star" value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
			<option class="samuraitravel-star" value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
			<option class="samuraitravel-star" value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
		</select>
			
			<textarea class="form-control" th:field="*{content}" cols="30" rows="5"></textarea>
			
			
			<button type="submit">更新</button>
		</form>
		
		 <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
       </div>    
       
       <div th:replace="~{fragment :: scripts}"></div>  
       <script th:src="@{/js/preview.js}"></script>  
	</body>
	
</html>