<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	
	<title>会員規約</title>
</head>

<body>
	<div id="htmlContent"></div> <!-- Markdownから変換されたHTMLを表示 -->
	<script th:inline="javascript">
		  /* <![CDATA[ */
        var markdownContent = /*[[${htmlContent.getDescription()}]]*/ '';
        document.getElementById("htmlContent").innerHTML = marked.parse(markdownContent);
        /* ]]> */
	</script>
</body>

</html>