<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗一覧</title>
</head>

<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container samuraitravel-container pb-5">
				<div class="row justify-content-center">
					<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							<li class="breadcrumb-item active" aria-current="page">店舗一覧</li>
						</ol>
					</nav>

					<div class="col-xl-3 col-lg-4 col-md-12">
						<form method="get" th:action="@{/shops}" class="w-100 mb-3">
							
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" th:value="${keyword}"
									placeholder="店舗名・住所">
								<button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button>
							</div>
						</form>



						<div class="card mb-3">
							<div class="card-header">
								店舗から探す
							</div>
							<div class="card-body">
								<form method="get" th:action="@{/shops}" class="w-100">
									<div class="form-group mb-3">
										<select class="form-select samuraitravel-star"th:name="category" th:value="*{categoryId}">
											<option class="samuraitravel-star" th:each="category : ${categoryList}"
												th:value="${category.getId()}" th:text="${category.getName()}"></option>
										</select>
									</div>
									<div class="form-group">
										<button type="submit"
											class="btn text-white shadow-sm w-100 samuraitravel-btn">検索</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="d-flex justify-content-between flex-wrap">
							<p th:if="${shopPage.getTotalPages() > 1}" class="fs-5 mb-3"
								th:text="${'検索結果：' + shopPage.getTotalElements() + '件' + '（' + (shopPage.getNumber() + 1) + ' / ' + shopPage.getTotalPages() + ' ページ）'}">
							</p>
							<p th:unless="${shopPage.getTotalPages() > 1}" class="fs-5 mb-3"
								th:text="${'検索結果：' + shopPage.getTotalElements() + '件'}"></p>
								
								   <form method="get" th:action="@{/shops}" class="mb-3 samuraitravel-sort-box"> 
                                    <input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
                                    <input th:if="${categoryId}" type="hidden" name="category" th:value="${categoryId}">
                                    <input th:if="${priceLowerLimitAsc}" type="hidden" name="priceLowerLimitAsc" th:value="${priceLowerLimitAsc}">                                      
                                    <select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
                                        <option value="createdAtDesc" th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>                                            
                                        <option value="priceLowerLimitAsc" th:selected="${order == 'priceLowerLimitAsc'}">予算料金が安い順</option>
                                    </select>   
                                </form>  
						</div>

						<div class="mb-3" th:each="shop : ${shopPage}">
							<a th:href="@{/shops/__${shop.getId()}__}" class="link-dark samuraitravel-card-link">
								<div class="card h-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img th:if="${shop.getImageName()}"
												th:src="@{/storage/__${shop.getImageName()}__}"
												class="card-img-top samuraitravel-horizontal-card-image" alt="店舗画像">
											<img th:unless="${shop.getImageName()}" th:src="@{/images/noImage.png}"
												class="card-img-top samuraitravel-horizontal-card-image" alt="NO IMAGE">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h3 class="card-title mb-3" th:text="${shop.getName()}"></h3>

												<hr class="mb-3">

												<p class="card-text mb-2">
													<span th:text="${shop.getDescription()}"></span>
												</p>

												<p class="card-text mb-2">
													<small class="text-muted"
														th:text="${'〒' + shop.getPostalCode()}"></small>
													<small class="text-muted" th:text="${shop.getAddress()}"></small>
												</p>

												<p class="card-text">
													<span
														th:text="${#numbers.formatInteger(shop.getPriceLowerLimit(), 1, 'COMMA') + '~'+#numbers.formatInteger(shop.getPriceUpperLimit(), 1, 'COMMA')+'円'}"></span>
														
														
												</p>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>

						<!-- ページネーション -->
						<div th:if="${shopPage.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="店舗一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${shopPage.isFirst()}" class="page-link disabled">前</span>
										<a th:unless="${shopPage.isFirst()}"
											th:href="@{/shops(page = ${shopPage.getNumber() - 1}, keyword = ${keyword}, area = ${area}, price = ${price},order = ${order})}"
											class="page-link samuraitravel-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, shopPage.getTotalPages() - 1)}"
										class="page-item">
										<span th:if="${i == shopPage.getNumber()}"
											class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
										<a th:unless="${i == shopPage.getNumber()}"
											th:href="@{/shops(page = ${i}, keyword = ${keyword}, area = ${area}, price = ${price},order = ${order})}"
											class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${shopPage.isLast()}" class="page-link disabled">次</span>
										<a th:unless="${shopPage.isLast()}"
											th:href="@{/shops(page = ${shopPage.getNumber() + 1}, keyword = ${keyword}, area = ${area}, price = ${price},order = ${order})}"
											class="page-link samuraitravel-page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>